In [3]:
#question1 :


nom=input("nom : ")
prenom=input("prenom : ")

print(prenom + " " + nom)

nom :jl
prenom :jllk
jllk jl

In [5]:
#question2 :


num=str(input("entrer un entier : "))

tmp1=num+num
tmp2=tmp1+num
sum=int(num)+int(tmp1)+int(tmp2)

print(num + "+" + tmp1 + "+" + tmp2)
print(sum)

entrer un entier : 5
5+55+555
615

In [10]:
#question3 :


number = int (input("entrer un nombtre : "))

if number%2==0 : 
    print("even")
else :
    print("odd")

entrer un nombtre : 5
odd

In [15]:
#question4 : 


#num : [2000:3200] divisable par 7 , non devisable par 5 :
for i in range(2000,3200) :
    if(i % 7 == 0 and i % 5 != 0) :
    
        print(i,end="\t")

2002	2009	2016	2023	2037	2044	2051	2058	2072	2079	2086	2093	2107	2114	2121	2128	2142	2149	2156	2163	2177	2184	2191	2198	2212	2219	2226	2233	2247	2254	2261	2268	2282	2289	2296	2303	2317	2324	2331	2338	2352	2359	2366	2373	2387	2394	2401	2408	2422	2429	2436	2443	2457	2464	2471	2478	2492	2499	2506	2513	2527	2534	2541	2548	2562	2569	2576	2583	2597	2604	2611	2618	2632	2639	2646	2653	2667	2674	2681	2688	2702	2709	2716	2723	2737	2744	2751	2758	2772	2779	2786	2793	2807	2814	2821	2828	2842	2849	2856	2863	2877	2884	2891	2898	2912	2919	2926	2933	2947	2954	2961	2968	2982	2989	2996	3003	3017	3024	3031	3038	3052	3059	3066	3073	3087	3094	3101	3108	3122	3129	3136	3143	3157	3164	3171	3178	3192	3199

In [4]:
#question5 :


#fonction factorial
def fact(tmp):
    if tmp == 1 or tmp == 0 :
        return 1
    else :
        return fact(tmp-1)*tmp

    
    
num=int(input("entrer un nombre pour calculer son factoriel : "))
print(fact(num))

entrer un nombre pour calculer son factoriel : 4
24

In [16]:
#question6 :


#fonction supprime impaire
def supp(tmp) : 
    
    tmp2 =""
    for i in range (len(tmp)) :
        if i%2 == 0 :
            tmp2=tmp2+tmp[i]
    return tmp2


#supprime character pair :
phrase = input("entrer une chaine de character : ")
print(supp(phrase))

entrer une chaine de character : bonjour
bnor

In [24]:
#question7 :


prix=int(input("entrer le prix : "))

if prix >= 500 :
    
    prix /= 2
    
elif prix >= 200 and prix < 500 :
    
    prix = prix - (prix * 0.3)
    
else :
    
    prix = prix - (prix * 0.1)
    
print(prix)

entrer le prix : 50
45.0